.weather-inner {
    display: flex;
    align-items: center;
}
.current-weather {
    display: flex;
    .current-temp {
        font-size: 6em;
    }
    .current-degrees {
        font-size: 4em;
    }
}
.weather-condition {
    text-align: center;
}
.weather-details {
    display: flex;
    justify-content: space-evenly;
}